.App {
    text-align: center;
}

.panel-container {
    display: flex;
    justify-content: space-around;
}

.panel {
    display: inline-block;
}

.left {
    float: left;
}
.right {
    float: right;
    display: block;
    width: 50%;
}
.confetti {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 25%;
}

.form-title {
    margin: 15px auto;
    width: 50%;
}
